@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@500&display=swap");

/* IMPORTED FONTS
* + Roboto (Medium 500)
* + Inter (Medoum 500)
*/

/* ==================== UNIVERSAL ==================== */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #000;
  font-family: "Roboto", "Inter", Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/***** NAV ******/

.back-button {
  top: 12px;
  left: 12px;
  background-color: #000;
  border: 2px solid #fff;
}

.back-button,
.profile-head {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-head {
  top: 12px;
  background-color: lightgrey;
  border: 2px solid lightgrey;
  color: #000;
  right: 12px;
  font-size: 20px;
}

/****** Service Page ******/
.service-title,
.routing-title {
  margin-top: 64px;
  margin-left: 34px;
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.next-line {
  display: block;
}

.service-option {
  background-color: #fff;
  text-align: center;
  border: 0.5px solid #575757;
  border-radius: 10px;
  width: 280px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-option i {
  color: #000;
  font-size: 36px;
  margin-top: 24px;
}

.service-name {
  font-family: "Inter";
  color: #000;
}

/****** Routing Page ******/

.routing-title {
  display: block;
}

.routing-container {
  display: block;
  filter: grayscale(100%);
}

.loading::after {
  content: "...";
  animation: ellipsis 2.5s infinite;
}

@keyframes ellipsis {
  25% {
    content: "";
  }
  50% {
    content: ".";
  }
  75% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

#footer {
  font-size: 8px;
  font-family: "Roboto", "Inter";
  text-align: center;
  color: #fff;
  margin-top: 16px;
}
